PUBLIC_GOOGLE_SHEETS_WEB_APP_URL="https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec"
SMTP_HOST="mail.catalizator.org"
SMTP_PORT="465"
SMTP_USER="social@catalizator.org"
SMTP_PASSWORD="YOUR_EMAIL_PASSWORD"
SMTP_FROM="Hack the Future <social@catalizator.org>"
NOTIFICATION_TO_EMAIL="i.nikolova@it-s.org"
