PUBLIC_GOOGLE_SHEETS_WEB_APP_URL="https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec"
SMTP_HOST="mail.shumen-it.com"
SMTP_PORT="465"
SMTP_USER="social@shumen-it.com"
SMTP_PASSWORD="{C{!KliAfm#R_Tl#"
SMTP_FROM="Hack the Future <social@shumen-it.com>"
NOTIFICATION_TO_EMAIL="i.nikolova@it-s.org,office@shumen-it.com"
