---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#FFFFFF" />
		<title>HTF | CHALLENGE</title>
		<script is:inline>
			(() => {
				window.location.replace(`/bg${window.location.search}${window.location.hash}`);
			})();
		</script>
	</head>
	<body>
		<a href="/en">English</a>
		<a href="/bg">Bulgarian</a>
	</body>
</html>
